@import '../../styles/containers.scss';

.title-and-slide-wrapper {
  padding:15px;
  position:relative;
}

@media (min-width:950px) {
  .title-and-slide-wrapper {
    @include flex(row, center, center);
    padding:15px 60px;
  }
}